* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
}

/* Nav */
header {
    background-color: #cf4747 ;
    background-image: url(../assets/images/Waffles\ al\ aire-2.png);
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-index {
    width: 100px;
    padding: 0px 10px 0px 10px;
    margin: 0px 30px 0px 30px;
    transform: scale(1.9);
    transition: 1s ease;
}

.img-index:hover {
    transform: scale(2.1);
    transition: 1s ease;
}

.nav-bar a {
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    -weight: weight;
    font-style: normal;
    text-decoration: none;
    color: white;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0px 60px 0px 0px;
}
.nav-bar a {
    padding: 5px;
    border-radius: 20px;
}

.contacto:hover {
    color: black;
    background-color: white;
    background-image: linear-gradient(to right, #cf4747, white);
}

.shopping:hover  {
    color: black;
    background-color: white;
    background-image: linear-gradient(to right, #cf4747, white);

}

.nosotros:hover {
    color: black;
    background-color: white;
    background-image: linear-gradient(to right, #cf4747, white);

}

/* termino el nav */

section {
    margin: 100px;
    padding: 10px;
    background-color: #cf4747;
}

.container-location {
    display: flex;
}

.ubicanos {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_location {
    width: 300px;
}

/* termino la ubicación */

.h2-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container-redes-button {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-redes div a {
    padding: 15px;
}

.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG-ig {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}

.Btn:hover .BG-ig {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
}

/* ig */

.BG-fb {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #484dad;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .BG-fb {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.BG-ws {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #075e54;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .BG-ws {
    transform: rotate(35deg);
    transform-origin: bottom;
}






